#header{
  @include size(160px,100%);
  background-color: $header-bg-color;
  float: left;
  overflow: hidden;
  >div{
    @include size(100%,100%);
  }

  .logo {
    @include size(100%, 86px);
    text-align: center;
    padding-top: 33px;
    border-bottom: 1px solid $header-bottomline-color;
    overflow: hidden;
  }
  .header-menu{
    margin-bottom: 0;
    overflow: hidden;
    > li{
      @include size(100%,55px);
      text-align: center;
      border: {
        top:1px solid $header-topline-color;
        bottom: 1px solid $header-bottomline-color;
      };

      a{
        @include size(100%,100%);
        color: $header-ff-linkcolor;
        display: block;
        position: relative;
        i,span{
          display: block;
          position: absolute;
          left: 30px;
          top: 16px;
        }
        span{
          left: 70px;
          top: 20px;
        }
        i{
          font-size: 26px;
          font-weight: bold;
        }
      }
      a:hover,a.active{
        color: $header-ff-hovercolor;
        text-decoration: none;
      }
    }
    >li.username{
      border-width: 0;

      @include size(160px,80px);
      position: fixed;
      left:0;
      bottom: 0;

      @media screen and (max-height: 300px){
        position: static;
        margin-top: 20px;
      }

      >.userpic{
        font-size: 26px;
        text-align: center;
        @include size(50px,50px);
        color: $header-ff-hovercolor;
        line-height: 50px;
        border-radius: 25px;
        background-color: $header-userbg-color;
        margin: 0 auto;
        cursor: pointer;

        .glyphicon-off{
          display: none;
        }
        &:hover{
          .glyphicon-user{
            display: none;
          }
          .glyphicon-off{
            line-height: 52px;
            display: inline-block;
          }
        }
      }
      >.usernickname{
        line-height: 30px;
        color: $header-ff-linkcolor;
      }
    }
  }
  .narrowHeader .header-menu > li a i{
    left:24px;
  }
  .login-username{
    @include size(100%,calc(100% - 86px - 275px - 30px));
    min-height: 100px;
    color: $header-ff-linkcolor;
    border-top: 1px solid $header-topline-color;
    position: relative;
    overflow: hidden;
    >div{
      position:absolute;
      span[class^="icon-"], span[class*=" icon-"]{
        font-weight: bold;
      }
    }
    .header-usernameicon{
      @include size(30px,30px);
      text-align: center;
      border-radius: 50%;
      left: 10px;
      bottom: 0;
      overflow: hidden;
    }
    .header-username{
      @include size(70px);
      left: 50px;
      bottom: 5px;
      text-align:center;
      white-space: nowrap;
      text-overflow:ellipsis;
      overflow: hidden;
      cursor: pointer;
    }
    .header-logout{
      font-size: 16px;
      right: 20px;
      bottom: 3px;
      cursor: pointer;
      a{
        color: $header-ff-linkcolor;
      }
    }
    &+div{
      text-align: center;
      font-size: 20px;
      @include size(30px,30px);
      color: $gray-34;
      min-height: 30px;
      display: block;
      margin: 0 auto;
      cursor: pointer;
    }
  }
  .narrowHeader{
    .header-usernameicon{
      left: 25px;
      bottom: 35px;
    }
    .header-logout{
      right: 32px;
    }
  }
}
