$font-family:"Helvetica Neue",Helvetica,Arial,sans-serif,Microsoft YaHei,SimSun;
$gray-top:#edf0f4;
$gray-light:#edf0f4;
$gray-deep:#35485a;
$gray-34:#343434;
$gray-51:#515151;
$gray-66:#666666;
$gray-70:#9b9b9b;
$gray-77:#777;
$gray-8e:#8e8e8e;
$gray-90:#909090;
$gray-9f:#9f9f9f;
$gray-b5:#B5B5B5;
$gray-bb:#bbbbbb;
$gray-be:#bebebe;
$gray-cc:#ccc;
$gray-d2:#d2d0d0;
$gray-d7:#d7d7d7;
$gray-d8:#d8dcde;
$gray-dd:#dddddd;
$gray-e1:#e1e1e1;
$gray-e5:#e5e5e5;
$gray-e8:#e1e1e8;
$sidebar-right-active:#edf5f4;
$sidebar-right-focus-active:#d9d9d9;
$sidebar-leftRight-bg-color:#f5f6f7;
$sidebar-table-hover-color:#f1f9f7;
$gray-f1:#f1f1f1;
$gray-f3:#f3f3f3;
$gray-f5:#f5f5f5;
$gray-f6:#f6f6f6;
$gray-f9:#f9f9f9;

$white:#fff;
$black:#000;
$red:#f00;
$transparent:transparent;
$header-bg-color:#1c2b36;
$header-bottomline-color:#18222a;
$header-topline-color:#283640;
$header-ff-linkcolor:#799eb9;
$header-ff-hovercolor:#1bbc9b;
$icon-activecolor:#1bbc9b;
$header-user-color:#a1a6aa;
$header-userbg-color:#49555e;
$footer-ff-color:#acacac;

$btn-hover-color:#16b294;
$btn-import-bgcolor:#242729;
$btn-new-bgcolor:#449a6d;

$tooltip-bg:#96999f;
$tooltip-arrow-color:#96999f;

$tab-titleico-bgblue:#98c6e3;
$tab-titleico-bggreen:#c7e7b2;
$tab-titleico-bgorange:#fdd2a2;
$tab-title-border-color:#d4d4d4;
$tab-title-bg-color:#eeeeee;
$tab-innerTitle-color:#22b573;
$tab-column-title:#272727;
$tab-banner-title:#272728;

$btn-pri-color:#3e98df;
$btn-prihover-color:#49a7f0;

$toolbar-bg-color:#d0d0d2;
$sidebar-bg-color:#313131;
$sidebar-li-hover-color:#202322;
$sidebar-ft-color:#909091;
$sidebar-title-hover-color:#27bfa0;
$panel-bg-color:#e9fdfd;
$panel-border-color:#d0eeee;
$bottombar-li-hover-color:#22b573;
$gridtotal-color:#b4b4b4;
$gridtotal-b-color:#333;
$grid-tdborder-color:#ddd;
$grid-trhover-color:#e7f5f2;
$panel-titlebg-color:#D9ECEC;
$datatable-title-color:#e7eaee;

$login-bg:#e5e9f4;
$login-box-bg:#f6f7fb;
$login-box-input-focus:#00bf68;
$login-box-submit-btn:#1ABC9C;

$code-keywords-color:#008000;
$code-string-color:#BA2121;