$font-family:Microsoft YaHei,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif;
$gray-bb: #bbbbbb;
$gray-cc: #cccccc;
$gray-e6: #e6e6e6;
$gray-ed: #ededed;
$gray-73: #737373;
$gray-55: #555555;
$gray-66: #666666;
$gray-77: #777777;
$gray-dd: #dddddd;
$gray-ee: #eeeeee;
$black: #000000;
$white: #ffffff;
$green: #00c76c;
$red: #eb5352;
$errorred: #e0345a;
$chief_bg_color: #edf0f3;

$login-bg-color: #E5E9F4;
$login-main-bg-color: #e3e9f4;
$login-main-border-color: #9ac0f9;
$login-box-input-focus: #2a83ff;
$login-btn-bg-color: #2c6cb7;
$login-role-checked: #2a83ff;

$header-bg-color: #1a427d;
$header-active-color: #bbe3fc;
$header-font-color: #5488c4;