$font-family:Microsoft YaHei,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif;
$gray-cc:#cccccc;
$gray-e6:#e6e6e6;
$gray-ed:#ededed;
$gray-73:#737373;
$gray-77:#777777;
$black:#000000;
$white:#ffffff;

$header-bg-color:#3a5a97;
$header-active-bg-color:#2382d2;
$header-font-color:#c4cee0;