.drag-drop{
  @include size(100%, 100%);
  background: #8cc8ff;
  div[draggable='true']{
    @include size(100px, 100px);
    float: left;
    background: yellow;
    margin: 0 0 10px 10px;
    border: 1px solid gray;
    cursor: pointer;
  }

  .dustbin {
    @include size(12rem, 12rem);
    margin: 0 1.5rem 1.5rem 0;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    line-height: normal;
    float: left;
    background: gray;

    .active {
      background: red;
    }

    .candrop{
      background: darkkhaki;
    }
  }
}