.tooltip-inner{
  padding: {
    left:10px;
    right: 10px;
  };
  background: $tooltip-bg;
}
.tooltip {
  &.top .tooltip-arrow {
    border-top-color: $tooltip-arrow-color;
  }
  &.top-left .tooltip-arrow {
    border-top-color: $tooltip-arrow-color;
  }
  &.top-right .tooltip-arrow {
    border-top-color: $tooltip-arrow-color;
  }
  &.right .tooltip-arrow {
    border-right-color: $tooltip-arrow-color;
  }
  &.left .tooltip-arrow {
    border-left-color: $tooltip-arrow-color;
  }
  &.bottom .tooltip-arrow {
    border-bottom-color: $tooltip-arrow-color;
  }
  &.bottom-left .tooltip-arrow {
    border-bottom-color: $tooltip-arrow-color;
  }
  &.bottom-right .tooltip-arrow {
    border-bottom-color: $tooltip-arrow-color;
  }
}